.loginLeftContainer {
  display: flex;
  justify-content: center;
  background-color: #faf9f9;
  height: fit-content;
  padding-top: 40px;
  @media (min-width: 768px) {
    flex: 1;
    height: 100vh;
    padding-top: 0px;
  }
}

.loginLeftInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  gap: 20px;
  @media (min-width: 768px) {
    gap: 60;
    width: 550px;
    height: auto;
  }
}

.mainImage {
  width: 100%;
  height: auto;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.logoImageWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logoImage {
  width: 30%;
  max-height: 38px;
  max-width: 178px;
  margin: 0;
}
