.searchWrapper {
display: flex;
  
}

.searchInput {
  border-width: 2px;
  padding: 0 10px;
  border: 2px solid #545F7D26;
  background-color: white;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color:#000000;
}


.searchButton {
  border: none;
  background-color: #39CDCC;
  font-weight: 500;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:0px 18px 0px 18px;
}
