.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}
.title {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 24px;
  font-weight: 500;
  color: #213f7d;
  display: inline;
  text-align: left;
  @media (max-width: 768px) {
    display: none;
    font-size: 20px;
  text-align: left;
  margin-bottom: 1rem;
  }
}

