.profileCard {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  color: #213f7d;
  width: 800px;
  height: fit-content;

  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 12px 24px rgba(0, 0, 0, 0.06);
}

.profileCard {
  transition: box-shadow 0.2s ease;
}

.profileCard:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.06),
    0 16px 32px rgba(0, 0, 0, 0.08);
}
