.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.dashboardContent {
  display: flex;
  flex-direction: row;
}

.dashboardStatusCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tableWrapper{
    width: fit-content;
    height: auto;
}

.UserTableStatusContainer{
    display: flex;
    width:100%;
    padding:50px 0px;
    flex-direction: column;
    align-items: center;

}
.UserTableStatusWrappper{
    display: flex;
    min-width:fit-content;
    flex-direction: column;
    align-items: center;
    

}