.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.dashboardContent {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sidebarWrapper {
  width: 250px;
  flex-shrink: 0;
}

.dashboardStatusCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  gap: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  > .statCardContainer {
    flex: 1 1 45%;
    max-width: 300px;
    min-width: 160px;
  }
  
  @media (min-width: 970px) {
    padding: 0px;
    gap: 5px;
    justify-content: space-between;
  }
}

.tableWrapper {
  width: fit-content;
  height: auto;
}

.UserTableStatusContainer {
  display: flex;
  width: 100%;
  padding: 3rem 0;
  flex-direction: column;
  align-items: center;
}

.userTableStatusEmpty {
  width: 70%;
  height: 100%; 
  padding: 3rem 0;
  margin: 0px auto;
}


.UserTableStatusWrappper {
  display: flex;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .sidebarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebarWrapper.open {
    transform: translateX(0);
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

