.container {
  min-height: 100vh;
  width: 100%;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  color: #213f7d;
  font-family: "Inter", sans-serif;
}

.logo {
  margin-bottom: 12px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.description {
  font-size: 16px;
  color: #545f7d;
  max-width: 360px;
}

.link {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #39cdcc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
