.authGate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f9fafc; 
  color: #213f7d; 
  font-family: "Inter", sans-serif;
  text-align: center;
  gap: 1rem;
}

.logo {
  font-size: 4rem; 
}

.loadingText {
  font-size: 1.25rem; // 20px
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .dots {
    display: inline-block;
    width: 1rem;
    text-align: left;

    &::after {
      content: ".";
      animation: dots 1s steps(3, end) infinite;
    }
  }
}

@keyframes dots {
  0%, 20% { content: ""; }
  40% { content: "."; }
  60% { content: ".."; }
  80%, 100% { content: "..."; }
}
