.statCardContainer{
    width: 16vw;
    height: 12vw;
    max-width:300px;
    min-width: 160.6px;
    min-height: 131.7px;
    max-height: 204px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.04),
    0 4px 12px rgba(0, 0, 0, 0.08);

}

.iconWrapper {
  width: 3.2vw;
  height: 3.2vw;
  max-width: 50px;
  min-width: 32px;
  max-height: 50px;
  min-height: 32px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
    color:#545F7D;
    font-size: 0.75rem;

  @media (min-width: 970px) {

    font-size: 0.875rem;
  }
  }
.cardMainText {
    color:#213F7D;
    font-size: 1.25rem;
    font-weight: bold;
}