.statCardContainer{
    width: 300px;
    height: 180px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.04),
    0 4px 12px rgba(0, 0, 0, 0.08);
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
    color:#545F7D;
    font-size: 19px;
}
.cardMainText {
    color:#213F7D;
    font-size: 24px;
    font-weight: bold;
}