.sidebarToggle {
    position: fixed;
    top: 126px;
    left: 15px;
    z-index: 1100;
    color: black;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 2px 12px;

    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  @media (min-width: 800px) {
    display: none;
  }
}
