.loginRightContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #ffff;
}

.loginRight {
  width: 90%;
  height: fit-content;
  @media (min-width: 768px) {
    width: 550px;
  }
}
.welcomeText {
  font-size: 40px;
  font-weight: 600;
  color: #213f7d;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
.heading {
  font-size: 20px;
  color: #545f7d;
  margin-bottom: 40px;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.error {
  color: #c42b10;
}
