
.userTableContainer {
  width: 90vw;
  max-width:1300px;
  height: auto;
  background-color: #ffffff;

  @media (min-width: 800px) {

  width: 70vw;
  max-width:1300px;
  }
}

.userTableWrapper {
  padding: 0px;
  background-color: #ffffff;
  width: fit-content;
  height: auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width:4.75rem;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: capitalize;
}

.active {
  background: #39cd632f;
  color: #39cd62;
}

.inactive {
  background: #545f7d4e;
  color: #545f7d;
}

.pending {
  background: #e9b3001a;
  color: #e9b200;
}

.blacklisted {
  background: #e4033b28;
  color: #e4033b;
}

.actions {
  cursor: pointer;
  color: #9aa4bf;
  font-size: 1.125rem;
}

.dropDown {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-width: 160px;
  color:#545F7D;
  gap: 5;
}

.dropDownChild {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5;


  &:hover {
    background-color: #f2f4f7;
  }
}

