.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  width: 100%;

  /* Mobile: stack vertically */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 25px;
  }
}

.backLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #545f7d;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #213f7d;
  display: inline;
  @media (max-width: 768px) {
    display: none;
    font-size: 20px;
  }
}

.actions {
  display: flex;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;

    button {
      width: fit-content;
      text-align: center;
    }
  }

  button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    letter-spacing: 0.1em;
  }
}

.blacklist {
  border: 1px solid #e4033b;
  color: #e4033b;
  &:hover {
    background-color: rgba(228, 3, 59, 0.05);
  }
}

.activate {
  border: 1px solid #39cdcc;
  color: #39cdcc;
  &:hover {
    background-color: rgba(57, 205, 204, 0.08);
  }
}
