.mainContianer {
  background-color: #ffffff;
  width: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.2);
}

.scrollArea {
  flex: 1;
  padding: 0px 0px 40px 0px;
  overflow-y: auto;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #e5e7eb;
}

.version {
  display: block;
  padding-left: 20px;
  font-size: 0.75rem;
  color: #545f7d;
}

.organization {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px 30px;
  font-size: 1rem;
  font-weight: 500;
  color: #213f7d;
  cursor: pointer;
}

.chevron {
  margin-left: auto;
  opacity: 0.6;
}

.sectionHeaders {
  color: #213f7d;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 20px;
}

.dashboard {
  font-size: 1rem;
  color: #213f7d99;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  background-color: transparent;
}
