.mainContianer {
  background-color: #ffffff;
  width: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.2);
}

.scrollArea {
  flex: 1;
  padding: 40px 0;
  overflow-y: auto;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #e5e7eb;
}

.version {
  display: block;
  padding-left: 20px;
  font-size: 0.75rem;
  color: #545f7d;
}
