.sideBarPanelContainer {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  background-color: transparent;

  .sideBarText {
    color: #213f7d99;
  }
}

.active {
  background-color: #39cdcd11;
  border-left-width: 3px;
  border-left-color: #39cdcc;

  .sideBarText {
    color: #213f7d;
  }
}

.sideBarText {
  font-size: 1.125rem;
}

.sideBarIcon {
  opacity: 0.6;
}

.active {
  .sideBarIcon {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .mainContianer {
    width: 220px;
  }

  .sideBarText {
    font-size: 1rem;
  }
}
