.headerContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  color:#213F7D;
}

.logoImageWrapper {
  max-width: 144px;
  aspect-ratio: 4.8;
}

.logoImage {
  object-fit: contain;
}

.searchContainer {
  width: 350px;
  height: 40px;
}

.leftContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}
.rightContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 19px;
}

.link{
  text-decoration: underline;
}

.notification{
  background-color: #ffffff;
}

.profileImageWrapper {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #828282;
}

.profileImage {
  object-fit: contain;
}

.dropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2;
}