.headerContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  color: #213f7d;
  gap: 10px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0px;
  }
}

.logoImageWrapper {
  max-width: 144px;
  aspect-ratio: 4.8;
}

.logoImage {
  object-fit: contain;
}

.searchContainer {
  width: 100%;
  height: auto;

  @media (min-width: 786px) {
    width: 350px;
    height: 40px;
  }
}

.leftContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  @media (min-width: 786px) {
    gap: 150px;
  }
}
.rightContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  @media (min-width: 786px) {
    justify-content: flex-end;
  }
}

.link {
  text-decoration: underline;
}

.notification {
  background-color: #ffffff;
}

.profileImageWrapper {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #828282;
}

.profileImage {
  object-fit: contain;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2;
}
